doctype html 
html 
 head 
  link(rel="stylesheet" type="text/css" href="/static/css/Style.css")
  title Finance
  body(class="body")
   nav(class="nav")
    div(class="logo")
     a(class"link" href='') 
      h1 Finance 
    
    
      
