doctype html 
html 
 head 
  link(rel="stylesheet" type="text/css" href="/css/Style.css")
  title Finance
  body(class="body")
   nav(class="nav")
    a(class="link" href='') 
      h1 Finance 

    div(class="login")
      input(type="text" name="Email" value="checked")
      input(type="text" name="Password" value="checked")
      
    
      
