.body {
    padding: 0px;
    margin: 0%;

}

.nav {
    height: 10px;
    width: 100%;

}

.link {
    text-decoration: none;
}

.login {
    display: grid;
    grid-template-rows: 50 50;
    align-content: center;
}

.section {
    grid-row: 1/2;
}

.section1 {
    grid-row: 2/3;
}